<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    
    <!-- SweetAlert2 CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body class="bg-gradient-to-b from-cyan-500 via-teal-600 to-emerald-600 h-screen flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-5xl font-bold text-white mb-4">Bienvenido</h1>
        <p class="text-white text-xl">Has iniciado sesión correctamente.</p>
    </div>
</body>
</html>
