<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Página de Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    
    <!-- SweetAlert2 CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body class="bg-gradient-to-b from-cyan-500 via-teal-600 to-emerald-600 h-screen flex items-center justify-center">
    <div class="text-center w-full max-w-xs">
        <h1 class="text-4xl font-bold text-cyan-100 mb-4">Bienvenido</h1>
        <h2 class="text-center text-2xl font-bold mb-6">Selecciona una opción</h2>
        <div class="flex flex-col space-y-4">
            <div class="flex flex-col space-y-6">
                <a href="/login" class="bg-gradient-to-r from-amber-400 to-amber-500 hover:from-red-400 hover:to-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Iniciar Sesión
                </a>
                <a href="/register" class="bg-gradient-to-r from-cyan-400 to-cyan-500 hover:from-emerald-400 hover:to-emerald-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Crear Usuario
                </a>
                <a href="/home" class="bg-gradient-to-r from-indigo-400 to-indigo-500 hover:from-pink-400 hover:to-pink-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Ingresar de Todos Modos
                </a>
            </div>
        </div>
    </div>

    <!-- SweetAlert2 Script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
