<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    
    <!-- SweetAlert2 CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body class="bg-gradient-to-b from-cyan-500 via-teal-600 to-emerald-600 h-screen flex items-center justify-center">
    <div class="text-center w-full max-w-xs">
        <h1 class="text-4xl font-bold text-cyan-100 mb-4">Login</h1>
        <form class="bg-slate-200 shadow-md rounded px-8 pt-6 pb-8 mb-4" id="loginForm">
            <h2 class="text-center text-2xl font-bold mb-6">Iniciar Sesión</h2>
            <div class="mb-4">
                <label class="block text-slate-700 text-sm font-bold mb-2" for="username">
                    Usuario
                </label>
                <input class="bg-slate-100 shadow appearance-none border rounded w-full py-2 px-3 text-slate-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text" placeholder="Usuario">
            </div>
            <div class="mb-6">
                <label class="block text-slate-700 text-sm font-bold mb-2" for="password">
                    Contraseña
                </label>
                <input class="bg-slate-100 shadow appearance-none border rounded w-full py-2 px-3 text-slate-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password" placeholder="Contraseña">
            </div>
            <div class="flex justify-center">
                <button class="bg-gradient-to-r from-teal-400 to-cyan-500 hover:from-pink-500 hover:to-amber-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Iniciar Sesión
                </button>
            </div>
        </form>
    </div>
    
    <!-- SweetAlert2 Script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/LoginValidation.js"></script>
</body>
</html>
